@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
.header-div {
  height: 328px;
  background: #171826;
}
.logo-main {
  height: 74px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  padding-top: 25px;
  filter: brightness(0) invert(1);
}
.congrat-col {
  display: flex;
  justify-content: center;
  align-items: center;
}
.congrat-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 42px;
  background: -webkit-linear-gradient(to right, #9f2c79, #ffeb00);
  background: linear-gradient(to right, #9f2c79, #ffeb00);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-bottom: 0.5rem;
}

.congrat-col img {
  height: 29px;
  margin-left: 5px;
}
.gift-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
  background: white;
  border: 1px solid blue;
  border-radius: 40px;
  box-shadow: 0 0 6px 3px rgb(116, 114, 114);
}
.gift-card img {
  height: 70px;
  text-align: center;
}
.main-info {
  display: flex;
  align-items: center;
}
.main-text {
  font-family: 'Fugaz One', cursive;
  font-size: 48px;
  background: -webkit-linear-gradient(to right, #bc01a5, #f03d3d);
  background: linear-gradient(to right, #bc01a5, #f03d3d);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  padding-left: 1.5rem;
}
.main-text p {
  font-size: 26px;
  float: right;
  margin-top: 35px;
  margin-bottom: 0.5rem;
}

.rupee {
  font-family: 'Fugaz One', cursive;
  font-size: 74px;
  background: -webkit-linear-gradient(to right, #c808c2, #ffc107);
  background: linear-gradient(to right, #c808c2, #ffc107);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.rupee span {
  font-size: 24px;
  float: left;
  margin-top: 20px;
}

.top-right {
  height: 90px;
  transform: rotate(92deg);
  position: absolute;
  top: 10px;
  right: 12px;
  border-radius: 40px 0px;
  z-index: 1;
}
.bottom-left {
  height: 90px;
  transform: rotate(270deg);
  position: absolute;
  bottom: 10px;
  left: 12px;
  border-radius: 40px 0px;
}
